.image-swiper {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 400px; 
}

.swiper-track {
  display: flex;
  width: calc(250px * 12); 
  animation: scroll 30s linear infinite;
}

.swiper-slide {
  width: 250px;
  height: 400px;
  margin: 0 1rem;
  flex-shrink: 0;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 6));
  }
}

.image-swiper:hover .swiper-track {
  animation-play-state: paused;
}
