
main {
  background-image: url("https://n8s.pw/pkg-assets/paper.jpg");
  
  /* background-repeat: no-repeat; */
  background-size: auto;

  /* background-size: 50px 50px; */
  background-attachment: fixed;
  min-height: 100vh;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: arial, ubuntu, roboto, noto, -apple-system, helvetica, sans-serif;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  text-decoration:none; 
  cursor: crosshair;
}
:-webkit-any-link {
  text-decoration:none; 
  cursor: crosshair;
}
.content{
  padding-top: 40px;
  margin: 0 auto;
  max-width: 1200px;
}