main {
  text-align: center;
  font-family: 'Fira Mono', monospace;
};

a, a:link, a:visited, a:focus, a:hover, a:active{
  text-decoration:none; 
  cursor: crosshair;
}
:-webkit-any-link {
  text-decoration:none; 
  cursor: crosshair;
}
.content{
  margin: 0 auto;
  max-width: 1100px;
}